$color-black: #212529;

$color-white: #fff;
$color-grey-dark-1: #777;
$color-grey-dark-2: #6d6d6d;
$color-grey-dark-3: #333;

// FONT
$default-font-size: 1.6rem;

// BORERS
$border-rad-small: .3rem;
$border-rad-big: 5rem;
