img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.title_heading, .intro {
    text-align: center
}

.job-descrip {
    font-size: 0.6em; 
    color: #868e96;
}

.section.resume-section .resume-item .resume-date {
    min-width: none;
}

#awd_list {
    line-height: 1em;
    font-weight: 400;

    }
