.profile_photo {
    border-radius: 50%;
}

.brand_collage {
    max-width: 40%;
}

.title_heading, .intro {
    text-align: center
}

.job-descrip {
    font-size: 0.8em; 
    color: #868e96;
}

.section.resume-section .resume-item .resume-date {
    min-width: none;
}

#awd_list {
    line-height: 2em;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}