{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>

{% for experience in work_data %}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto col-7">
                <h3 class="mb-0">{{ experience.position }}</h3>
                <div class="subheading mb-3">{{ experience.company }}</div>
                <p class="job-descrip">{{ experience.description }}</p>
            </div>
            <div class="resume-date text-md-right col-5">
                <span class="text-primary">{{ experience.duration }}</span>
            </div>
        </div>
    </div>
</section>
{% endfor %} 
{% endblock %}